{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
		Register
	{% endblock %}
	
		
	{% block body_block %}
		<h1>Register for Rango</h1>
		{% if registered %}
		Rango says: <strong>thank you for registering!</strong>
		<a href="/rango/">Return to the homepage.</a>
		
		{% else %}
		Rango says: <strong>register here!</strong><br />
		<!-- enctype is used to inform the web browser that it should break down the data and package it so that the image data is fully sent to our server -->
		<form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
			{% csrf_token %}
		
			<!-- Displays each form -->
			<!-- as_p is used to denote that it is in paragraphs so the fields are each in a new line -->
			{{ user_form.as_p }}
			{{ profile.form.as_p }}
		
			<!-- button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	{% endblock %}